global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['localhost:9100']

  - job_name: 'linux-servers'
    static_configs:
      - targets: 
        - 'server1:9100'
        - 'server2:9100'
        - 'server3:9100'